*{
  box-sizing: border-box;  
  text-align: center;
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}

.nav{
  background-color: white;
  color: black;
  padding: 0 1.5rem 0 1.5rem ;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 2rem;
  /* position: fixed; */
}

.site-title{
  font-size: 2rem;  
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  display: flex;
  padding: 0.25rem;
}

.nav li:hover{
  background-color: #555;
  border-radius: 0.5rem;
}

.nav li.active{
  background-color: #777;
}

.Home{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.About{
  display: grid;
  place-items: center;
  color: #c0fa20;
  position: relative;
  height: 90vh;
}

.About::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../assets/bg-about-page.jfif) no-repeat center fixed;
  background-size: cover;
  filter: blur(20px);
}

header{
  position: relative;  
}
